* {
    font-family: "Roboto", sans-serif;
}

:root {
    --indigo:#6610f2;
    --orange:#fd7e14;
    --teal:#20c997;
    --primary:#255282;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
}

body {
    background-color: var(--light);
    position: relative;
}


#home, #about, #testimony, #gallery, #contact {
    height: 100vh;
}

.active {

}

.navigation {

    #navbar {
        height: 70px;
        z-index: 9999;
        border-bottom: 1px var(--secondary) solid;
    }

    .scroll {
        background-color: var(--light) !important;
        transition: background-color 200ms linear;

        a.btn {
            color: var(--primary) !important;

            &:hover {
                color: var(--light) !important;
            }
        }
        .navbar-brand > a {
            color: var(--primary) !important;
        }
    }

    .navbar-brand {
        margin-top: 0.6rem;


        a {
            color: var(--light);
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 700;
        }

        :hover {
            color: var(--light);
        }
    }

    #navbar-list {


        li {
            a.btn-outline-primary {
                border-color: transparent;
                color: var(--light);
                border-radius: 0;

                &:hover {
                    background-color: var(--primary);
                }
            }
        }
    }
}
// section HOME
#home {
    background-image: url(/images/infinite-loop-01.jpg);

    .home-text {
        color: var(--light);
        position: relative;
        top: 40%;
        font-size: 2rem;

        h2 {
            font-size: 4rem;
        }
    }
}

// section ABOUT
#about {
    background-color: var(--light );
    position: relative;

    .first-text {
        position: relative;
        top: 10%;

        h3 {
            color: var(--primary);
            font-size: 2.5rem;
            font-weight: 300;
            text-align: start;
            }
        p {
            color: var(--secondary);
            font-size: 1.3rem;
            font-weight: 300;
            text-align: start;
        }
    }

    #about-text {
        color: var(--primary);
        position: relative;
        top: 15%;
        font-size: 2rem;

        p {
            color: var(--secondary);
            font-size: 1.3rem;
            font-weight: 300;
            text-align: start;
            padding-left: 4rem;
        }
        h3 {
            color: var(--primary);
            font-size: 2.2rem;
            font-weight: 300;
            text-align: start;
            padding-top: 1rem;
            }
        i {
            padding-right: 1rem;
            font-size: 3rem;
            position: relative;
            left: -1rem;
        }
        
    }
}